*.pyc
/debian/files
/debian/jolicloud-daemon/*
/debian/jolicloud-daemon.*.debhelper
/debian/python-module-stampdir
/debian/jolicloud-daemon.substvars
/debian/jolicloud-daemon.debhelper.log
/build
/dist
.idea
