#!/usr/bin/make -f
# -*- makefile -*-

DEB_PYTHON2_MODULE_PACKAGES=jolicloud_daemon

%:
	dh -Spython_distutils --with python2,translations $@

clean::
	rm -rf build build-stamp configure-stamp build/ MANIFEST
	dh_clean
